// SASS Variables
:root {
    --ff-primary: "Montserrat", serif;

    --fs-light: 0.875em; //14px
    --fs-primary: 1.125em; //18px
    --fs-title: 1.5em; //24px
    --fs-big: 3em; // 48px

    --fw-light: 400;
    --fw-primary: 500;
    --fw-bold: 700;

    --color-primary: #ff6060;
    --color-light: #fff;
    --color-dark: #000;
    --color-dark-light: #f6f6f6;
    // --color-accent:;
    --color-bg-tranparent: rgba(0, 0, 0, 0.7);

    --border-radius-default: 25px;
    --border-radius-cards: 10px;

    --margin-bottom: 50px;
    --wrapper-padding: 50px 100px;
    --wrapper-xs-padding: 20px;
    --wrapper-width: 1440px;
}

// CSS Reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
a {
    color: inherit;
    text-decoration: inherit;
    &:visited {
        color: inherit;
    }
    &:hover {
        color: var(--color-primary);
    }
}

// common propreties
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.items-end {
    align-items: end;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.m-center {
    margin: 0 auto;
}

//General styles
body {
    font-family: var(--ff-primary);
    font-optical-sizing: auto;
    font-weight: var(--fw-primary);
    font-style: normal;
    font-size: var(--fs-primary);
}

#root {
    max-width: var(--wrapper-width);
    padding: var(--wrapper-padding);
    @media (max-width: 769px) {
        padding: var(--wrapper-xs-padding);
    }
}

.header {
    margin-bottom: var(--margin-bottom);

    @media (max-width: 768px) {
        margin-bottom: 27px;
    }
    &-logo {
        @media (max-width: 768px) {
            max-width: 145px;
        }
    }
    &-nav {
        gap: 2em;
        @media (max-width: 768px) {
            gap: 26px;
        }
    }
    .active {
        border-bottom: 1px solid black;
    }
}
.banner {
    border-radius: var(--border-radius-default);
    margin-bottom: var(--margin-bottom);
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    min-height: 223px;
    @media (max-width: 768px) {
        min-height: 111px;
    }

    &-title {
        color: var(--color-light);
        font-size: var(--fs-big);
        font-weight: var(--fw-bold);
        padding: 77px;
    }
}

.cards-container {
    padding: 50px;
    background-color: var(--color-dark-light);
    border-radius: var(--border-radius-default);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px 60px;
    margin-bottom: var(--margin-bottom);
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    // @media (max-width: 1024px) {
    //     gap: 20px;
    // }
}

.cards-item {
    // background-color: #ff6060;
    aspect-ratio: 1 / 1;
    color: var(--color-light);
    position: relative;
    border-radius: var(--border-radius-cards);
    overflow: hidden;
    &_title {
        text-align: left;
        padding: 20px;
        font-size: var(--fs-primary);
        z-index: 2;
    }
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        object-fit: cover;
    }
    &::after {
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(10, 10, 10, 0) 42%,
            rgba(4, 4, 4, 0.2) 99.99%,
            rgba(0, 0, 0, 0.5) 100%
        );
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
.about {
    width: 90%;
    gap: 30px;
    margin-bottom: var(--margin-bottom);
}
.dropdown {
    border-radius: 5px;
    overflow: hidden;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    ul {
        padding: 0px;
    }
    li {
        list-style: none;
    }
    &-bar {
        padding: 10px 15px;
        background-color: var(--color-primary);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        z-index: 1;
    }
    &-title {
        color: #fff;
        font-size: var(--fs-title);
        font-weight: var(--fw-bold);
    }
    &-content {
        background-color: var(--color-dark-light);
        width: 100%;
        font-weight: var(--fw-light);
        text-align: start;
        padding: 15px 20px;
        transition: height, 250ms ease-out;
    }
}
.collapse {
    padding: 0;
    opacity: 0;
    height: 0;
}

.carrousel {
    overflow: hidden;
    margin-bottom: 30px;
    img {
        max-height: 412px;
        width: 100%;
        object-fit: cover;
    }
}

.footer {
    background-color: black;
    color: var(--color-light);
    padding-top: 66px;
    padding-bottom: 29px;
    margin-bottom: -50px;
    &-logo {
        padding-bottom: 29px;
        @media (max-width: 768px) {
            padding-bottom: 0px;
        }
    }
}

//Trick to make a div full width
.full-bleed {
    // set a bg full width
    box-shadow: 0 0 0 100vmax #000;
    // trim it x-axes:0 , y-axes:-100vmax (extend)
    clip-path: inset(0 -100vmax);
}
